.header--main {
  max-width: 90vw;
  display: grid;
  grid-template-columns: 30% 45% 25%;
  margin: 40px 5% 40px;
  height: 90px;
  justify-self: center;
}
.header--main .nav--title {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}
.header--main .nav--title h1 {
  margin-left: 0;
  font-family: 'Questrial', Arial;
  font-size: 45px;
  color: #333;
  font-weight: bold;
}
.header--main .nav--header {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-self: start;
}
.header--main .nav--header ul {
  display: flex;
  align-items: start;
  padding-left: 0;
  justify-content: space-around;
}
.header--main .nav--header ul li {
  padding: 0 10px;
  margin: 5px;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.header--main .nav--header ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #333;
}
.header--main .nav--header ul li a:hover {
  font-weight: 800;
}
.header--main .nav--log--bar {
  grid-column: 3/4;
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header--main .nav--log--bar .log--bar__number {
  height: 30px;
  width: 30px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.header--main .nav--log--bar .log--bar__login {
  text-decoration: none;
  font-size: 15px;
  color: #333;
  margin-left: 30px;
}
.header--main .nav--log--bar .log--bar__login:hover {
  font-weight: 800;
}
.header--main .nav--log--bar button {
  height: 35px;
  width: 100px;
  border-radius: 20px;
  background-color: #333;
  margin-left: 30px;
}
.header--main .nav--log--bar button a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}
