body {
  font-family: "Lato", sans-serif;
}

.intro {
  background-image: url("https://adippsa.com/Images/foodima/image0.jpg");
  background-size: 90vw;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}
.intro .intro__contenido {
  margin-right: 10%;
  float: right;
}
.intro .intro__contenido h2 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: #42b0d1;
  -webkit-text-stroke: 2px #333333;
}
.intro .intro__contenido p {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #faf8f5;
  -webkit-text-stroke: 2px #333333;
  width: 400px;
}
.intro .intro__contenido a {
  margin-top: 20px;
  color: #77e080;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: 120px 80px repeat(3, 350px);
  grid-template-areas: "receipes . input1 input1 button1" "filter clear box1 box2 box3" "sidebar1 sidebar2 box1 box2 box3" "sidebar3 sidebar4 box1 box2 box3" ". . box4 box5 box6";
  grid-gap: 10px;
}
.content .search {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: input1;
  margin: 50px 0;
}
.content .search .buscador__input {
  height: 28px;
  width: 600px;
  border-radius: 10px;
  padding-left: 20px;
}
.content .toggleButton {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: button1;
  margin: 50px 100px 0 0;
  justify-self: end;
}
.content .toggleButton .button-cls {
  width: 100px;
  background-color: #333333;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.content .toggleButton .button-cls-split {
  width: 30px;
  color: #fff;
  border-color: #333333;
  background-color: #333333;
  padding: 5px 5px 6px;
  font-size: 16px;
  border: 1px solid #333333;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content .toggleButton .dd-cont-cls {
  display: none;
  position: absolute;
  background-color: #F9DBDE;
  min-width: 160px;
  z-index: 1;
}
.content .toggleButton .dd-cont-cls a {
  color: #A51D2B;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.content .toggleButton .dd-cont-cls a:hover {
  background-color: #A51D2B;
  color: #fff;
}
.content .toggleButton .dd-cls {
  position: absolute;
  display: inline-block;
}
.content .toggleButton .dd-cls:hover .dd-cont-cls {
  display: block;
}
.content .toggleButton .button-cls:hover .button-cls, .content .toggleButton .dd-cls:hover .button-cls {
  background-color: #A51D2B;
}
.content .receipes {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: receipes;
  margin: 50px 0;
}
.content .filter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: filter;
  margin: 0;
}
.content .clear {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: clear;
  margin: 0;
}
.content .sidebar--filter {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: sidebar1;
  padding-left: 0;
}
.content .sidebar--filter__input {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: sidebar2;
  padding-left: 0;
  justify-self: center;
}
.content .sidebar--menu {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: sidebar3;
  padding-left: 0;
}
.content .sidebar--menu__input {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: sidebar4;
  padding-left: 0;
  justify-self: center;
}
.content li {
  list-style: none;
}
.content a {
  text-decoration: none;
  color: #333333;
}
.content .box .box__image img {
  width: 300px;
  height: 200px;
}
.content .image1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 5;
  grid-area: box1;
}
.content .image2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 7;
  grid-area: box2;
}
.content .image3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 9;
  grid-area: box3;
}
.content .image4 {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
  grid-area: box4;
}
.content .image5 {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
  grid-area: box5;
}
.content .image6 {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
  grid-area: box6;
}
/*# sourceMappingURL=main.css.map */