body {
  font-family: "Lato", sans-serif;
}

.intro {
  background-image: url("https://adippsa.com/Images/foodima/image0.jpg");
  background-size: 90vw;
  background-repeat: no-repeat;
  background-position: center top;
  height: 90vh;
}
.intro .intro__contenido {
  margin-right: 10%;
  float: right;
}
.intro .intro__contenido h2 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: #42b0d1;
  -webkit-text-stroke: 2px #333333;
}
.intro .intro__contenido p {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #faf8f5;
  -webkit-text-stroke: 2px #333333;
  width: 400px;
}
.intro .intro__contenido a {
  color: #77e080;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: 200px, repeat(3, 350px);
  grid-template-areas: "sidebar box1 box2 box3" "sidebar box4 box5 box6";
  grid-gap: 10px;
}

.sidebar--list {
  grid-area: sidebar;
  display: grid;
  grid-template-areas: "h3 ." "h4 ." "p p" "sidebar1 sidebar2" "sidebar3 sidebar4";
  grid-template-rows: repeat(3, 40px) 80px 1fr;
  grid-template-columns: 180px 30px;
}
.sidebar--list h3 {
  grid-area: h3;
}
.sidebar--list h4 {
  grid-area: h4;
}
.sidebar--list p {
  grid-area: p;
}
.sidebar--list .sidebar--filter {
  grid-area: sidebar1;
  padding-left: 0;
}
.sidebar--list .sidebar--filter__input {
  grid-area: sidebar2;
  padding-left: 0;
}
.sidebar--list .sidebar--menu {
  grid-area: sidebar3;
  padding-left: 0;
}
.sidebar--list .sidebar--menu__input {
  grid-area: sidebar4;
  padding-left: 0;
}
.sidebar--list li {
  list-style: none;
}
.sidebar--list a {
  text-decoration: none;
  color: #333333;
}

.box .box__image img {
  width: 300px;
  height: 200px;
}
.image1 {
  grid-area: box1;
}

.image2 {
  grid-area: box2;
}

.image3 {
  grid-area: box3;
}

.image4 {
  grid-area: box4;
}

.image5 {
  grid-area: box5;
}

.image6 {
  grid-area: box6;
}