body {
  font-family: "Lato", sans-serif;
}

.intro {
  background-image: url("/images/image0.jpg");
  background-size: 90vw;
  background-repeat: no-repeat;
  background-position: center top;
  height: 80vh;
}
.intro .intro__contenido {
  margin-right: 10%;
  float: right;
}
.intro .intro__contenido h2 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: #42b0d1;
  -webkit-text-stroke: 2px #333333;
}
.intro .intro__contenido p {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #faf8f5;
  -webkit-text-stroke: 2px #333333;
  width: 400px;
}
.intro .intro__contenido a {
  color: #77e080;
  cursor: pointer;
}

.sidebar--list li {
  list-style: none;
}
.sidebar--list a {
  text-decoration: none;
  color: #333333;
}

main.content {
  grid-template: repeat(3, 300px)/repeat(3, 100%);
}

.box .box__image img {
  width: 300px;
}