.footer--principal
        .nav--title: h1 Foodima
        ul.footerMenu
            each option in options
                li=option
        ul.nav--social
            li Follow us:
            li: a(href="#"): i.fab.fa-instagram
            li: a(href="#"): i.fab.fa-pinterest
            li: a(href="#"): i.fab.fa-twitter
            li: a(href="#"): i.fab.fa-facebook-f