header.header--main
    .nav--title: h1 Foodima
    nav.nav--header: ul
        li: a(href="#") Shop
        li: a(href="#") Features
        li: a(href="#") Recipes
        li: a(href="#") Hotline
        li: a(href="#" class="header__busqueda")
            i.fas.fa-search
    .nav--log--bar
        a.log--bar__number(href="") 0
        a.log--bar__login(href="") login
        button: a.log--bar__button(href="") Sign Up
            