header
    h1 Foodima
    nav.nav--header: ul
        li: a(href="#") Shop
        li: a(href="#") Features
        li: a(href="#") Recipes
        li: a(href="#") Hotline
    a(href="#" class="header__busqueda")
        i.fas.fa-search
        span Search