mixin category-list(number,title)
	li: a(href="#")
		span.sidebar--list__number=number
		span.sidebar--list__title=title

mixin caja(imagen,title,contenido)
	.caja
		.caja__imagen: img(src="images/"+imagen, alt="")
		.caja__contenido
			h4=title
			p=contenido
			
