mixin category-list(number,title)
	li: a(href="#")
		span.sidebar--list__number=number
		span.sidebar--list__title=title

mixin box(imagen,title,contenido)
	.box
		.box__image: img(src="images/"+imagen, alt="")
		.box__content
			h4=title
			p=contenido
			
