-var title = "Sub-titulo Principal"
-var titles = ['Recipe Contest', 'Raspberry-Raspberry Shortcakes', "David lebovitz's Cherry Clafouti", 'Chicharrones-Encrusted Avocado', 'Mediterranean Rice', 'Mexican Mix Dish', 'Potato & Chesse Cake', 'Subtitulo 1', 'Subtitulo 1', ]
-var options = ['About', 'News','Contact']


