footer.footer--principal
	.logo.logo--footer: img(src="../images/logo--footer.svg")
	nav.nav--footer: ul
		li: a(href="#") Guides
		li: a(href="#") News
		li: a(href="#") Food
		li: a(href="#") News
		li: a(href="#") About Us
	.nav--social: ul
		li Follow Us
		li: a(href="#"): i.fab.fa-instagram
		li: a(href="#"): i.fab.fa-pinterest
		li: a(href="#"): i.fab.fa-twitter
		li: a(href="#"): i.fab.fa-facebook-f