        header.header--main
            a(href="" class="brand")
            nav.nav--headerleft: ul
                li: a(href="") Shop
                li: a(href="") Features
                li: a(href="") Recipes
                li: a(href="") Hotline
                li: img(src="images/lupa.png", alt="")
            .nav--headerleft: ul
                li: a(href="") 0
                li: a(href="") login
                li: a(href="") Recipes
                li: a(href="") Sign Up