extend componentes/plantilla.pug
block contenidos
    section.intro
        .intro__contenido
            h2 #{titles[0]}
            p
                | Recipe contests are like our big 
                | constantly-in-progress dinner
                | party-and you're invited
            a  How they work →

    .content
        form.search 
            input(type="text" placeholder="🔍 Search recopes and more" class="buscador__input")
        .toggleButton

            button.button-cls Sort by:    Newest
            .dd-cls
                button.button-cls-split
                        i.fa.fa-angle-double-down
                .dd-cont-cls
                    a(href="#") Newest
                    a(href="#") Best ranked
                    a(href="#") Most poppulate
        
        h3.receipes Recipes   &#x1F469;&#x200D;&#x1F373;
        h4.filter Filter by:
        p.clear Clear filter
        ul.sidebar--filter
            li: label(for="option1") Contest Winners 
            li: label(for="option2") Featured 
            li: label(for="option3") Test kitchen-Approved 
        ul.sidebar--filter__input
            li: input(type="checkbox" name="filter1")
            li: input(type="checkbox" name="filter3")
            li: input(type="checkbox" name="filter2")
        ul.sidebar--menu
            li: a(href="") Meal
            li: a(href="") Dish Type
        ul.sidebar--menu__input
            li: a(href="") +
            li: a(href="") +
        +box("image1","image1.jpg",titles[1],"☆ 4.7 (23)","by SARAH JAMPBELL")
        +box("image2","image2.jpg",titles[2],"☆ 4.7 (23)","by SARAH JAMPBELL")
        +box("image3","image3.jpg",titles[3],"☆ 4.7 (23)","by SARAH JAMPBELL")
        +box("image4","image4.jpg",titles[4],"☆ 4.7 (23)","by SARAH JAMPBELL")
        +box("image5","image5.jpg",titles[5],"☆ 4.7 (23)","by SARAH JAMPBELL")
        +box("image6","image6.jpg",titles[6],"☆ 4.7 (23)","by SARAH JAMPBELL")