<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        title Foodima
    body
        header.header--main
            a(href="" class="brand")
            nav.nav--headerleft: ul
                li: a(href="") Shop
                li: a(href="") Features
                li: a(href="") Recipes
                li: a(href="") Hotline
                li: img(src="images/lupa.png", alt="")
            .nav--headerleft: ul
                li: a(href="") 0
                li: a(href="") login
                li: a(href="") Recipes
                li: a(href="") Sign Up
        main
            section.container--home
                +box--home('')
        
        
footer.footer--principal
    nav.nav--footer: ul
        a(href="" class="brand")
            li: a(href="#") Guides
            li: a(href="#") Newsli: a(href="#") Food
            li: a(href="#") News
            li: a(href="#") About Us
        .nav--social: ul
            li Follow Us
            li: a(href="#"): i.fab.fa-instagram
            li: a(href="#"): i.fab.fa-pinterest
            li: a(href="#"): i.fab.fa-twitter
            li: a(href="#"): i.fab.fa-facebook-f