extend componentes/plantilla.pug
block contenidos
        section.intro
            .intro__contenido
                h2 #{titles[0]}
                p
                    | Recipe contests are like our big 
                    | constantly-in-progress dinner
                    | party-and you're invited
                    br
                    br
                    a  How they work →
        .sidebar--list
            h3 Recipes
            h4 Filter by:
            p Clear filter
            ul.sidebar--filter
                li: label(for="option1") Contest Winners 
                li: label(for="option2") Featured 
                li: label(for="option3") Test kitchen-Approved 
            ul.sidebar--filter__input
                li: input(type="checkbox" name="filter1")
                li: input(type="checkbox" name="filter3")
                li: input(type="checkbox" name="filter2")
            ul.sidebar--menu
                li: a(href="") Meal
                li: a(href="") Dish Type
            ul.sidebar--menu__input
                li: a(href="") +
                li: a(href="") +

        .buscador: form: input(type="text" placeholder="search recopes and more" class="buscador__input")
        .button--group
         button.btn.btn__default.btn__dropdown(data-toggle="dropdown")  Sort by
            ul.dropdown-menu(role="menu")
                li: a(href="") Newest
                li: a(href="") Best values
                li: a(href="") Favorites


        //- a.Boton(type="button" data-toggle="dropdown") Sort by Newest
        main.content
            +box("image1.jpg",titles[1],"Raspberry-Raspberry Shortcakes")
            +box("image2.jpg",titles[2],"David lebovitz's Cherry Clafoutis")
            +box("image3.jpg",titles[3],"Chicharrones-Encrusted Avocado")
            +box("image4.jpg",titles[4],"Lorem ipsum, dolor sit amet consectetur")
            +box("image5.jpg",titles[5],"Lorem ipsum, dolor sit amet consectetur")
            +box("image6.jpg",titles[6],"Lorem ipsum, dolor sit amet consectetur")