extend componentes/plantilla.pug
block contenidos
        section.intro
            .intro__imagen: img(src="images/image0.jpg", alt="")
            .intro__contenido
                h2 #{titulos[0]}
                p
                    | Lorem ipsum, dolor sit amet consectetur 
                    | adipisicing elit. Modi quia fugiat reiciendis
                    | animi corporis dolorum, voluptatum voluptas!
                    | Provident molestiae ullam ipsam eius vitae,
                    | minima facere rem distinctio, id, quos non!
                    span Provident molestiae ullam ipsam eius vitae,
                        | minima facere rem distinctio, id, quos non!
                a.Boton How they work
        //- ul
        //-     each titulo in titulos
        //-         li=titulo
        .sidebar--listado
            h3 Recipes
            h2 Filter by:
            ul
                +listado-categoria('1','Contest Winners')
                +listado-categoria('2','Featured')
                +listado-categoria('3','Test kitchen-Approved')
        .buscador: form: input(type="text" placeholder="" class="buscador__input")
        main.contenido
            +caja('image1.jpg',titulos[1],'Lorem ipsum, dolor sit amet consectetur')
            +caja('image2.jpg',titulos[2],'Lorem ipsum, dolor sit amet consectetur')
            +caja('image3.jpg',titulos[3],'Lorem ipsum, dolor sit amet consectetur')
            +caja('image4.jpg',titulos[1],'Lorem ipsum, dolor sit amet consectetur')
            +caja('image5.jpg',titulos[2],'Lorem ipsum, dolor sit amet consectetur')
            +caja('image6.jpg',titulos[3],'Lorem ipsum, dolor sit amet consectetur')