//variables
$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$Fuente3: 'Questrial',Arial;
$color-primario: #333333;
$color-secundario: white;
$fontsize1: 60px;
$fontsize2: 40px;
$backgroundWidth: 90vw;
$backgroundHeigth: 60vw;
$totalWidth: 100vw;
$grid1: 10%;
$grid2: 8%;
$grid3: 25%;
$search: 50vw;