//variables
$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$Fuente3: 'Questrial',Arial;
$color-primario: black;
$color-secundario: white;
$fontsize1: 60px;
$fontsize2: 40px;
$backgroundWidth: 90vw;
$backgroundHeigth: 60vw;
$totalWidth: 100vw;
$grid1: 12%;
$grid2: 6%;
$grid3: 23.7%;
$search: 42vw;